//color

$primary: #20262a;
$primary-second: #00b6f0;
$secondary: #112d57;
$firsttext: #5c5c5c;
$secondtext: #f3cd03;

$white: #ffffff;

//dark

$dark-background: #182333;

//fonts

$font-family-base: "Poppins", sans-serif;
