@import "variables";

body {
  font-family: $font-family-base;
  font-size: 16px;
  font-weight: 600;
  color: $primary;
}

.py-section {
  padding: 100px 0;
}

h1 {
  font-size: 3rem;
  color: $secondary;
  font-weight: 800;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
  font-weight: 500;
  color: $firsttext;
}

.btn-main {
  background-color: $primary-second;
}

.btn {
  border-radius: 10em;
}

//Banner
.banner {
  background-image: url("../images/background.png");

  .bp1-1 {
    margin: 30px;
  }

  .btn-second {
    background-color: $white;
  }
}

//Banner Second

.banner-second {
  .bp-2 {
    color: $secondtext;
  }

  .btn-third {
    color: $primary-second;
  }
}

//Link
.a-link {
  text-decoration: none;
  color: $primary-second;
}

//Pricing

.pricing {
  background-color: $dark-background;
  color: $white;

  .pricing-paragraph {
    color: $white;
  }

  .price {
    font-size: 80px;
    color: $secondtext;
  }

  .pp-1 {
    position: relative;
  }

  .pp-2 {
    position: absolute;
    top: 80px;
    left: 770px;
    font-size: 30px;
  }
}

//footer
.footer {
  margin-top: -30px;
}
